
body {
  padding: 0;
  margin: 0;
  background:purple;
}

.wordSearch{
  border: 2px white solid;
  width: auto;
  height: auto;
  display: grid;
  background-color: LightSeaGreen;
  grid-columns: 2000px 200px;
  grid-rows: 2000px 2000px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 2px white solid;
  background-color: #00cc99;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.result{
  display: flex;
  justify-content:center;
}

hr { 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

